html {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background: black; }

body {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background: black;
  color: #eee;
  font-family: 'Open Sans', 'Verdana',sans-serif;
  font-size: 12px;
  top: 0; }

div {
  -webkit-box-sizing: border-box; }

a, a:visited {
  color: #0792e2; }

a:hover, a:focus {
  color: black; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lucida Grande', 'Helvetica', sans-serif; }

h1 {
  font-size: 1.4em;
  margin: 0;
  padding: .3em 0 0 0; }

h2 {
  border-bottom: 1px solid;
  font-size: 1.2em;
  margin: 0 0 .75em 0;
  padding: 0; }

div, ul {
  padding: 0;
  margin: 0;
  position: relative; }

#ajax-status {
  position: fixed;
  right: 0;
  bottom: 0; }

canvas {
  margin: 0 auto;
  -webkit-user-select: none; }

.down-arrow {
  color: #141414;
  padding-left: 0.5em;
  visibility: hidden; }

*:hover > .down-arrow {
  visibility: visible; }

/** CONTROL PANEL
____________________________________________ */
#controlpanel {
  display: block;
  position: relative;
  background-color: #333333;
  background-image: -moz-linear-gradient(0% 100% 90deg, #111111, #333333, #666666 100%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#111111), color-stop(0.1, #474747));
  margin: 0;
  top: 0;
  left: 0;
  overflow: auto;
  padding: .5em 0;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2); }

#controlpanel ul {
  list-style: none;
  margin: 0 0 0 .5em;
  padding: 0; }

#controlpanel ul li {
  display: block;
  float: left;
  margin: 0 .2em;
  padding: .2em;
  text-align: center; }

.twitter-handle {
  float: right;
  padding: 0;
  margin: 0; }

input[type="button"] {
  background: #0B3254;
  background: -moz-linear-gradient(0% 100% 90deg, #0b3254, #145c9c, #2197ff 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2197ff), to(#0b3254), color-stop(0.6, #145c9c));
  -webkit-border-radius: 5px;
  -mox-border-radius: 5px;
  border-radius: 5px;
  border: none;
  color: #eee;
  font-weight: normal;
  letter-spacing: 0.09em;
  min-width: 6em;
  padding: .5em 1em;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

input[type="button"].active-button {
  background: #ED7B24;
  background: -moz-linear-gradient(19% 75% 90deg, #a33c08, #ed7b24);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ed7b24), to(#a33c08)); }

input[type="button"]:hover,
input[type="button"]:focus {
  -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.8); }

#conway_currentpng {
  display: inline-block;
  height: 24px;
  width: 24px; }

#info {
  position: relative;
  margin: 0 auto;
  padding: 0 3em;
  width: 40.5em;
  /* 486 px / 12px =  */ }

#info ul {
  margin: 0;
  padding: 0; }

#info ul li {
  margin: 0 0 .25em 0; }

/** PATTERN SELECT MODAL
____________________________________________ */
#patternselect {
  background: white;
  -webkit-border-radius: 5px;
  -mox-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.4);
  border: 2px solid #888;
  color: #141414;
  display: none;
  overflow: hidden;
  padding: 1em;
  position: absolute;
  -webkit-user-select: none;
  width: 400px; }

ul#categories {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  list-style: none;
  margin: 0;
  padding: 0; }

ul#categories li {
  margin: 0 0 0.75em 0;
  padding: 0; }

ul#categories a {
  display: block;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; }

ul.pattern-list li {
  display: inline-block;
  font-size: 1.2em;
  height: 32px;
  margin: .2em 10px .2em 0;
  padding: .4em 10px .5em 10px;
  position: relative;
  text-decoration: none;
  width: 164px; }

/** Pattern-drawing
____________________________________________ */
.pattern-drawing {
  background-color: black;
  display: inline-block;
  float: left;
  height: 25px;
  margin-right: 1em;
  padding: 1px 0 0 1px;
  width: 25px; }

.pattern-drawing div {
  background: black;
  float: left;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 8px;
  height: 8px; }

.pattern-drawing .on {
  background: white; }
