<div id="info">
	<p><a href="/">&larr; Back</a></p>
	<h2>Colophon</h2>
	
	<h3>Bibliography</h3>
	<ul>
		<li><a href="http://ddi.cs.uni-potsdam.de/HyFISCH/Produzieren/lis_projekt/proj_gamelife/ConwayScientificAmerican.htm">MATHEMATICAL GAMES: The fantastic combinations of John Conway's new solitaire game "life"</a> by Martin Gardner, Scientific American 223 (October 1970): 120-123</li>
		<li><a href="http://conwaylife.com/wiki">LifeWiki</a></li>
	</ul>
	
	<h3>Code</h3>
	<ul>
		<li>Simulation made with <a href="http://processingjs.org">Processing.js</a></li>
		<li>Calculations and structure based on <a href="http://processing.org/learning/topics/conway.html">Conway's Game of Life</a> by Mike Davis.</li>
		<li>Control Panel integration with <a href="http://jquery.com">jQuery</a>.</li>
		<li>Site built on <a href="http://sinatrarb.com">Sinatra</a>.</li>
		<li>Hosted and deployed with <a href="http://heroku.com">Heroku</a>.</li>
	</ul>
	
	<h3>Source Code</h3>
	<p>The source code for this project is available on <a href="https://github.com/stevenklise/ConwaysGameOfLife">Github</a>.</p>
	
	<h3>Contact</h3>
	<p>Steven Klise <br/> <span class="email_sk"></span><br /> <a href="http://twitter.com/stevenklise">@stevenklise</a></p>
</div>