<div id="info">
	<h1>Conway's Game of Life</h1>
	<p>This site is currently being upgraded, we expect to be back in a few hours.</p>
	
	<p><span class="email-sk"></span><br /> <a href="http://twitter.com/stevenklise">@stevenklise</a></p>
</div>