<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Conway's Game of Life in Processing.js</title>
	<meta name="google-site-verification" content="8A7dXgsENzpQfwzrv42VyE-4eAReHoPVnJPlfqQ1eB8" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/conway.css"/>
	<script src="/js/conway.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-6955602-5']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>

<body>
	<%= yield %>
</body>
</html>