<!DOCTYPE html>
<html>
<head>
	<title>Conway's Game of Life in Processing.js</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/conway.css"/>
	<script src="/js/conway.js"></script>
</head>

<body>
	<%= yield %>
</body>
</html>