<h3>Add a new category</h3>

<form action="/category" method="post">
	<p><input type="text" name="name" placeholder="CATEGORY NAME"/></p>
	<p><input type="text" name="description" placeholder="DESCRIPTION" /></p>
	<p><input type="submit"/></p>
</form>