<div id="info">
<h3>Add a new pattern</h3>

<form action="/pattern/new" enctype="multipart/form-data" method="post">
  <p><input type="text" name="name" placeholder="PATTERN NAME"/></p>
  <p><select name="category">
    <% @categories.each do |category| %>
      <option val="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select></p>
  <p><input type="text" name="width" placeholder="WIDTH" /></p>
  <p><input type="text" name="height" placeholder="HEIGHT" /></p>
  <p><input type="text" name="cells" placeholder="CSV Cells" /> example: 0,1,0,0,1,0,0,1,0</p>
  <p><input type="submit" value="ADD PATTERN"/></p>
</form>
</div>