<h3>Add a new pattern</h3>

<form action="/pattern/new" enctype="multipart/form-data" method="post">
	<p><input type="text" name="name" placeholder="PATTERN NAME"/></p>
	<p><select name="category">
		<% @categories.each do |category| %>
			<option><%= category.name %></option>
		<% end %>
	</select></p>
	<p><input type="text" name="width" placeholder="WIDTH" /></p>
	<p><input type="text" name="height" placeholder="HEIGHT" /></p>
	<p><input type="text" name="cells" placeholder="CSV Cells" /></p>
	<p><input type="file" name="image" placeholder="IMAGE OF PATTERN"/></p>
	<p><input type="submit" value="ADD PATTERN"/></p>
</form>